html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

header {
  height: 10%;
  width: 100%;
  background: linear-gradient(#111, transparent);
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100; }
  header .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    margin: 0; }
    header .logo-container .logo {
      height: 75%;
      width: 25%;
      background: url("../app/images/longslogo.svg") no-repeat center;
      background-size: contain; }
    header .logo-container h1 {
      font-family: 'Quicksand', Arial, sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0; }
  header .navigation {
    height: 100%;
    width: 40%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .navigation div {
      padding: 5%; }
    header .navigation p {
      font-family: 'Quicksand', sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      color: #fff; }

.navButton {
  cursor: pointer; }

.navButton:hover p {
  color: #458592; }

.social-bar {
  position: fixed;
  top: 30%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  .social-bar li {
    margin: 0;
    padding: 0; }
  .social-bar i {
    color: #ffffff; }

.social {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0;
  font-size: 20px; }

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0;
  font-size: 20px; }

.social-facebook {
  background: #3a5795; }

.social-twitter {
  background: #10dffd; }

.social-tumblr {
  background: #35465c; }

.social-googleplus {
  background: #ea4335; }

.social:hover {
  width: 55px;
  background: #a8cf2d;
  transition: all .3s; }

.social-footer:hover {
  background: #a8cf2d;
  cursor: pointer; }

.footer {
  height: 150px;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #444; }
  .footer .copyright {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer .copyright p {
      font-family: 'Raleway', Arial, sans-serif;
      color: #ffffff; }
    .footer .copyright span {
      font-weight: bold; }
  .footer .social-connect {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .social-connect ul {
      list-style: none;
      display: flex; }
      .footer .social-connect ul li {
        color: #ffffff; }

#contact {
  height: 900px;
  width: 100%;
  background: url("../app/images/darkblue.jpg") no-repeat;
  background-size: 100% 100%;
  display: flex; }
  #contact h2 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 2.5vw;
    color: #eeeeee;
    margin-bottom: 50px;
    text-align: center; }
  #contact .contact-welcome {
    width: 100%;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px; }
    #contact .contact-welcome h1 {
      font-family: 'Raleway', Arial, sans-serif;
      font-size: 20px;
      font-weight: 100;
      color: #ffffff;
      margin: 0; }
  #contact .contact-secondBlock {
    display: flex;
    justify-content: center;
    align-items: center; }
    #contact .contact-secondBlock .contact-form {
      height: 60%;
      width: 40%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      #contact .contact-secondBlock .contact-form form {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #contact .contact-secondBlock .contact-form form input {
          font-family: 'Quicksand', Arial, sans-serif;
          font-size: 1vw;
          color: #222;
          width: 400px;
          padding: 10px;
          border: 3px solid #458592;
          border-radius: 5px; }
        #contact .contact-secondBlock .contact-form form textarea {
          font-family: 'Quicksand', Arial, sans-serif;
          font-size: 1vw;
          color: #222;
          width: 400px;
          padding: 10px;
          border: 3px solid #458592;
          border-radius: 5px; }
        #contact .contact-secondBlock .contact-form form button {
          font-family: 'Quicksand', Arial, sans-serif;
          font-size: 14px;
          font-weight: bold;
          padding: 20px;
          color: #ffffff;
          background: #8dbfc9;
          border: 3px solid #458592;
          border-radius: 5px;
          align-self: center; }
    #contact .contact-secondBlock .contact-info {
      height: 60%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #contact .contact-secondBlock .contact-info div {
        width: 100%; }
        #contact .contact-secondBlock .contact-info div span {
          text-transform: uppercase;
          font-size: 1.2vw;
          color: #147caa; }
        #contact .contact-secondBlock .contact-info div h3 {
          font-family: 'Didact Gothic', Arial, sans-serif;
          font-size: 1vw;
          font-weight: 100;
          color: #ffffff;
          margin: 0;
          margin-bottom: 15px; }

.matte-contact {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=index.css.map */
